@use '../variables/colors';
@use '../variables/fonts';

// Pinned cards
.pinned-container {
  $cards: (1, 2, 3, 4, 5);
  padding: 1em;
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    'card1 card1 card2 card3'
    'card1 card1 card4 card5';

  & article {
    padding: 2em;
    color: colors.$light-color;
    border-radius: 2em;
  }
  & article:hover {
    transform: translateY(-0.5em);
    transition: all 0.3s ease-in-out;
  }

  @each $card in $cards {
    & article:nth-child(#{$card}) {
      grid-area: card#{$card};
      @if $card == 1 {
        & h3 {
          font-size: fonts.$h3-large;
        }
        background-image: linear-gradient(
            rgba(255, 255, 255, 0.3),
            rgba(255, 255, 255, 0.3)
          ),
          url('https://images.unsplash.com/photo-1520121401995-928cd50d4e27?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80');
        background-blend-mode: overlay;
        background-size: cover;
        background-repeat: no-repeat;
      }
      else {
        & h3 {
          font-size: fonts.$h3-small;
        }
      }

      @if $card == 2 {
        background-image: linear-gradient(
            rgba(11, 50, 206, 0.3),
            rgba(11, 72, 241, 0.3)
          ),
          url('https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80');
        background-blend-mode: overlay;
        background-size: cover;
        background-repeat: no-repeat;
      }
      @if $card == 3 {
        background-image: linear-gradient(
            rgba(228, 9, 184, 0.3),
            rgba(225, 0, 218, 0.3)
          ),
          url('https://plus.unsplash.com/premium_photo-1675805016070-5ca98ba55944?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3387&q=80');
        background-blend-mode: overlay;
        background-size: cover;
        background-repeat: no-repeat;
      }
      @if $card == 4 {
        background-image: linear-gradient(
            rgba(252, 236, 9, 0.3),
            rgba(241, 233, 11, 0.3)
          ),
          url('https://plus.unsplash.com/premium_photo-1673972079383-d20945f96059?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3542&q=80');
        background-blend-mode: overlay;
        background-size: cover;
        background-repeat: no-repeat;
      }
      @if $card == 5 {
        background-image: linear-gradient(
            rgba(159, 12, 218, 0.3),
            rgba(138, 5, 226, 0.3)
          ),
          url('https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3538&q=80');
        background-blend-mode: overlay;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}

.showcase-container {
  $showcases: (1, 2, 3);
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 4em;
  justify-content: center;
  & article {
    background: colors.$dark-color;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3em;
    padding: 4em;
    background-size: 100%;
    background-position: center;
  }

  & article:nth-child(1) {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      url('https://images.unsplash.com/photo-1558697698-9300a84a6a99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ');
  }
  & article:nth-child(2) {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      url('https://images.unsplash.com/photo-1543248939-ff40856f65d4?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ');
  }
  & article:nth-child(3) {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      url('https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ');
  }

  & article:hover {
    background-size: 110%;
    transition: all 0.1s ease-in-out;
  }
}

.showcase-content {
  color: colors.$light-color;
  & h3 {
    padding-bottom: 2em;
    font-size: fonts.$h3-large;
    &:hover {
      & span {
        padding-left: 1em;
        visibility: visible;
      }
    }
    & span {
      font-size: 1.5em;
      visibility: hidden;
    }
  }
}

.button-container {
  padding-bottom: 2em;
  gap: 2em;
}

// Contact us section styling
.contact-us {
  justify-content: center;
  color: colors.$light-color;
  & form {
    display: flex;
    justify-content: center;
    margin: 3em;
    & input {
      text-align: center;
      font-size: 1em;
      background-color: transparent;
      border: none;
      border-bottom: 0.1em solid colors.$light-color;
      width: 30%;
      transition: width 1s linear;
      &:focus {
        outline: none;
        width: 50%;
      }
    }
  }
}

.typewriter {
  position: relative;
  font-size: fonts.$h3-large;
  width: 24em;
  overflow: hidden;
  max-width: fit-content;
  border-right: 0.15em solid colors.$light-color;
  white-space: nowrap;
  margin: 0 auto;
  animation: typewriter 4s steps(30) infinite alternate;
}

/* The typing effect */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24;
  }
}

// Section for past articles
.past-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.past-intro {
  padding: 2em;
  color: colors.$light-color;
  & p {
    text-align: center;
    font-size: fonts.$p-medium;
    text-transform: uppercase;
  }
}

.past-articles {
  margin: 2em;
  padding: 1em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  & article {
    padding: 5em;
    color: colors.$light-color;
    border-radius: 2em;
  }
  & article:hover {
    transform: translateY(-0.5em);
    transition: all 0.3s ease-in-out;
  }

  & article:nth-child(1) {
    background-color: colors.$active-color;
    grid-column: span 6;
    background-image: linear-gradient(
        rgba(159, 12, 218, 0.3),
        rgba(138, 5, 226, 0.3)
      ),
      url('https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3538&q=80');
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
  }

  & article:nth-child(2) {
    background-color: colors.$purple-color;
    grid-column: span 6;
    background-image: linear-gradient(
        rgba(159, 12, 218, 0.3),
        rgba(138, 5, 226, 0.3)
      ),
      url('https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3538&q=80');
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
  }
  & article:nth-child(3) {
    background-color: colors.$pink-color;
    grid-column: span 4;
    background-image: linear-gradient(
        rgba(159, 12, 218, 0.3),
        rgba(138, 5, 226, 0.3)
      ),
      url('https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3538&q=80');
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
  }
  & article:nth-child(4) {
    background-color: colors.$blue-color;
    grid-column: span 4;
    background-image: linear-gradient(
        rgba(159, 12, 218, 0.3),
        rgba(138, 5, 226, 0.3)
      ),
      url('https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3538&q=80');
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
  }
  & article:nth-child(5) {
    background-color: colors.$dark-color;
    grid-column: span 4;
    background-image: linear-gradient(
        rgba(159, 12, 218, 0.3),
        rgba(138, 5, 226, 0.3)
      ),
      url('https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3538&q=80');
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
