@use 'components/header';
@use 'variables/colors';
@use 'components/main';
@use 'variables/fonts';
@use 'shared/buttons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: colors.$dark-color;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  padding: 2em;
}

aside {
  position: fixed;
  left: 0;
  top: 50%;
  padding: 1em;
  margin-right: 1em;
  & p {
    font-size: 1em;
    color: colors.$light-color;
    transform-origin: 0 0;
    transform: rotate(270deg);
  }
}

button {
  font-size: fonts.$btn;
  border-radius: 2rem;
  padding: 0.4rem 0.6rem;
  text-transform: uppercase;
  border: none;
}
