header {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}
header img {
  height: 3em;
  color: #edf2f4;
}
header nav {
  display: flex;
  align-items: center;
}
header nav a {
  color: #edf2f4;
  text-decoration: none;
  margin-left: 2em;
  position: relative;
}
header nav a:hover::before {
  content: "";
  position: absolute;
  top: -1em;
  background: #fb8500;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  left: calc(100% - 1em);
}
header nav a:current {
  content: "";
  position: absolute;
  top: -1em;
  background: #fb8500;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  left: calc(100% - 1em);
}
header nav i {
  color: #edf2f4;
  text-decoration: none;
  margin-left: 2em;
}

.pinned-container {
  padding: 1em;
  display: grid;
  grid-gap: 2em;
  grid-template-areas: "card1 card1 card2 card3" "card1 card1 card4 card5";
}
.pinned-container article {
  padding: 2em;
  color: #edf2f4;
  border-radius: 2em;
}
.pinned-container article:hover {
  transform: translateY(-0.5em);
  transition: all 0.3s ease-in-out;
}
.pinned-container article:nth-child(1) {
  grid-area: card1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://images.unsplash.com/photo-1520121401995-928cd50d4e27?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.pinned-container article:nth-child(1) h3 {
  font-size: 2.5em;
}
.pinned-container article:nth-child(1) else h3 {
  font-size: 1.5em;
}
.pinned-container article:nth-child(2) {
  grid-area: card2;
  background-image: linear-gradient(rgba(11, 50, 206, 0.3), rgba(11, 72, 241, 0.3)), url("https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.pinned-container article:nth-child(2) else h3 {
  font-size: 1.5em;
}
.pinned-container article:nth-child(3) {
  grid-area: card3;
  background-image: linear-gradient(rgba(228, 9, 184, 0.3), rgba(225, 0, 218, 0.3)), url("https://plus.unsplash.com/premium_photo-1675805016070-5ca98ba55944?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3387&q=80");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.pinned-container article:nth-child(3) else h3 {
  font-size: 1.5em;
}
.pinned-container article:nth-child(4) {
  grid-area: card4;
  background-image: linear-gradient(rgba(252, 236, 9, 0.3), rgba(241, 233, 11, 0.3)), url("https://plus.unsplash.com/premium_photo-1673972079383-d20945f96059?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3542&q=80");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.pinned-container article:nth-child(4) else h3 {
  font-size: 1.5em;
}
.pinned-container article:nth-child(5) {
  grid-area: card5;
  background-image: linear-gradient(rgba(159, 12, 218, 0.3), rgba(138, 5, 226, 0.3)), url("https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3538&q=80");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.pinned-container article:nth-child(5) else h3 {
  font-size: 1.5em;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 4em;
  justify-content: center;
}
.showcase-container article {
  background: #2b2d42;
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3em;
  padding: 4em;
  background-size: 100%;
  background-position: center;
}
.showcase-container article:nth-child(1) {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://images.unsplash.com/photo-1558697698-9300a84a6a99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.showcase-container article:nth-child(2) {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://images.unsplash.com/photo-1543248939-ff40856f65d4?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.showcase-container article:nth-child(3) {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.showcase-container article:hover {
  background-size: 110%;
  transition: all 0.1s ease-in-out;
}

.showcase-content {
  color: #edf2f4;
}
.showcase-content h3 {
  padding-bottom: 2em;
  font-size: 2.5em;
}
.showcase-content h3:hover span {
  padding-left: 1em;
  visibility: visible;
}
.showcase-content h3 span {
  font-size: 1.5em;
  visibility: hidden;
}

.button-container {
  padding-bottom: 2em;
  gap: 2em;
}

.contact-us {
  justify-content: center;
  color: #edf2f4;
}
.contact-us form {
  display: flex;
  justify-content: center;
  margin: 3em;
}
.contact-us form input {
  text-align: center;
  font-size: 1em;
  background-color: transparent;
  border: none;
  border-bottom: 0.1em solid #edf2f4;
  width: 30%;
  transition: width 1s linear;
}
.contact-us form input:focus {
  outline: none;
  width: 50%;
}

.typewriter {
  position: relative;
  font-size: 2.5em;
  width: 24em;
  overflow: hidden;
  max-width: fit-content;
  border-right: 0.15em solid #edf2f4;
  white-space: nowrap;
  margin: 0 auto;
  animation: typewriter 4s steps(30) infinite alternate;
}

/* The typing effect */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24;
  }
}
.past-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.past-intro {
  padding: 2em;
  color: #edf2f4;
}
.past-intro p {
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
}

.past-articles {
  margin: 2em;
  padding: 1em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
}
.past-articles article {
  padding: 5em;
  color: #edf2f4;
  border-radius: 2em;
}
.past-articles article:hover {
  transform: translateY(-0.5em);
  transition: all 0.3s ease-in-out;
}
.past-articles article:nth-child(1) {
  background-color: #fb8500;
  grid-column: span 6;
  background-image: linear-gradient(rgba(159, 12, 218, 0.3), rgba(138, 5, 226, 0.3)), url("https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3538&q=80");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.past-articles article:nth-child(2) {
  background-color: #5e60ce;
  grid-column: span 6;
  background-image: linear-gradient(rgba(159, 12, 218, 0.3), rgba(138, 5, 226, 0.3)), url("https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3538&q=80");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.past-articles article:nth-child(3) {
  background-color: #e5989b;
  grid-column: span 4;
  background-image: linear-gradient(rgba(159, 12, 218, 0.3), rgba(138, 5, 226, 0.3)), url("https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3538&q=80");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.past-articles article:nth-child(4) {
  background-color: #3a86ff;
  grid-column: span 4;
  background-image: linear-gradient(rgba(159, 12, 218, 0.3), rgba(138, 5, 226, 0.3)), url("https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3538&q=80");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.past-articles article:nth-child(5) {
  background-color: #2b2d42;
  grid-column: span 4;
  background-image: linear-gradient(rgba(159, 12, 218, 0.3), rgba(138, 5, 226, 0.3)), url("https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3538&q=80");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-light {
  background-color: #edf2f4;
  color: #2b2d42;
}

.btn-dark {
  background-color: #2b2d42;
  color: #edf2f4;
}

.loading-btn {
  padding: 1em;
  color: #edf2f4;
  background-color: #2b2d42;
  border-radius: 1em;
  border: 1px solid #edf2f4;
  padding: 1em;
  width: 50%;
  margin: 2em;
  text-align: center;
  text-transform: uppercase;
}
.loading-btn:hover {
  background: #fb8500;
  transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2d42;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  padding: 2em;
}

aside {
  position: fixed;
  left: 0;
  top: 50%;
  padding: 1em;
  margin-right: 1em;
}
aside p {
  font-size: 1em;
  color: #edf2f4;
  transform-origin: 0 0;
  transform: rotate(270deg);
}

button {
  font-size: 0.8em;
  border-radius: 2rem;
  padding: 0.4rem 0.6rem;
  text-transform: uppercase;
  border: none;
}

/*# sourceMappingURL=style.css.map */
